.img-float {
  width: 30%;
  float: right;
  margin-right: 0.8rem;
}
.part1 {
  border: 1px solid red; 
  text-align: center;
}
.part2 {
  clear: both;
}

.box {
  float: left;
  font-size: 2rem;
}

.box1 {
  background-color: rgb(202, 136, 228);
  width: 10%;

}
.box2 {
  background-color: rgb(43, 226, 98);
  width: 10%;
 
}

.box3 {
  background-color: rgb(192, 226, 43);
  width: 10%
  
}
.center {
  text-align: center;
}
